 <div *ngIf="msgSvc.messages.length">

	<div class="messages">
	<!-- <button class="clear" (click)="msgSvc.clear()">clear</button> -->
	  	<div *ngFor='let message of msgSvc.messages'>
			  <div class="sp-alerts">
			        <div *ngIf="message.Error" class="alert alert-warning" role="alert"> {{message.Error}}</div>
			  </div>
		</div>
	</div>
</div>
