<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Paolo's Test
  </h1>
</div>



<div class="container">
  <app-message></app-message>
  <h2>Add a new employee</h2>
  <div class='row'>    
    <div class="col-10">
      <form #nodeForm="ngForm" action="?" method="post" class="form-signUp needs-validation" novalidate (ngSubmit)="AddEmployee();">

          <div class="form-group">
            <label for="lastName">Id</label>
            <input type="number" class="form-control" [(ngModel)]="id" id='nodeId' required name="nodeId" #nodeId="ngModel">
          </div>
          <div class="form-group">
            <label for="lastName">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" id='nodeName' required name="nodeName" #nodeName="ngModel">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!nodeForm.form.valid">Add</button>
      </form>
    </div>
  </div>

  <h2>({{empCount}}) Existing employees</h2>
  <div class='row'>
    <div class="col-10">
      <div *ngFor="let emp of employees">
        <ul>
          <li><span>{{emp.emp_id}}, </span><span>{{emp.name}}</span></li>
        </ul>
      </div>
    </div>  
  </div>
</div>

<router-outlet></router-outlet>
